<div style="padding: 15px">
  <div>
    <div
      class="dropzone"
      fileDragDrop
      (filesChangeEmiter)="onFileChange($event)"
    >
      <div class="text-wrapper">
        <div class="centered">
          <input
            type="file"
            name="file"
            id="file"
            accept="image/*"
            (change)="onFileInputChange($event)"
            multiple
          />
          <label for="file" class="label-file"
            ><span class="textLink"
              ><mat-icon>upload</mat-icon>Select your file</span
            >
            or Drop it here!</label
          >
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h3 class="fee-wrapper" *ngIf="fee">Fee: $ {{ fee }}</h3>
  <div class="control-pane">
    <div class="control-wrapper">
      <h3 mat-subheader class="title-files">
        Files <span *ngIf="files.length">{{ getFilesLength() }}</span>
      </h3>
      <h4 *ngIf="files.length">
        Size: {{ (getTotalSize() / 1024 / 1024).toFixed(2) }} MB
      </h4>
      <span *ngIf="files.length" class="calculate" (click)="calculateFee($event)"
        ><mat-icon>calculate</mat-icon
        ><span class="calculate-title">{{ getTitle() }}</span></span
      >
    </div>
  </div>

  <div class="row fileItem" *ngFor="let f of files; let ind = index">
    <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog($event, ind)">
      <mat-icon>delete</mat-icon>
    </div>
    <div class="col-sm-12 fileItemSize">
      <span>{{ (f.size / 1024 / 1024).toFixed(2) }} MB</span>
    </div>
    <div class="col-sm-12 fileItemText">
      <span>{{ f.name }}</span>
    </div>
  </div>
</div>
